---
import Title from '../atoms/Title.astro';
import SkillsOnTerminal from './components/skills-on-terminal/skillsOnTerminal.astro';
import './skills.css';
---

<section id="skills">
	<SkillsOnTerminal />
	<div class="text-content">
		<Title contenido="Habilidades" />
		<p>
			A lo largo de mi carrera como desarrollador, he tenido la oportunidad de adquirir y perfeccionar una amplia gama de habilidades que me han permitido abordar con éxito diferentes proyectos y desafíos. Cada nuevo desarrollo, desde propuestas innovadoras hasta la mejora de soluciones existentes, me ha brindado la oportunidad de seguir aprendiendo y evolucionando como profesional.
		</p>
	</div>
</section>
