---
import SocialIcons from '../SocialIcons.astro';
import Title from '../atoms/Title.astro';
import "./about.css"


---

<section id="about" class="about">
	<div class="about__container">
		<img
			class="about__img"
			src="https://www.bpocenter.com.bo/wp-content/uploads/2017/11/10.jpg"
			alt="Foto de perfil de Alex Rincón"
		/>

		<div class="about__content">
			<Title margin="1rem" contenido="Sobre mí" />
			<p class="about__text">
				Soy una persona apasionada por la tecnología, cuya capacidad de adaptación y resiliencia ha sido
forjada a través de diversos cambios a lo largo de mi vida. Mis intereses y habilidades abarcan desde
el desarrollo web y la inteligencia artificial hasta la gestión de proyectos. Me entusiasma aprender
cosas nuevas y fortalecer los conocimientos ya adquiridos, siempre buscando oportunidades para
crecer profesional y personalmente
			</p>
			<SocialIcons width="25" height="25"/>
		</div>
	</div>

</section>
