---
import Logo from '../Logo.astro';
import SocialIcons from '../SocialIcons.astro';
import './Footer.css';
---

<footer>
	<div class="footer__container">
		<Logo name="Alex Rincón" />
		<SocialIcons width="23" height="23" />
	</div>

	<aside class="footer__links">
		<ul>
			<li>
				<a class="footer__link" href="mailto:iamalexrincon@gmail.com?subject=Solicito%20tus%20servicios&body=Hola%20Alexis,%20me%20gustaría%20contratar%20tus%20servicios.">
					<span>
					  <iconify-icon
						icon="fluent:mail-28-regular"
						width="27"
						height="27"
						style="color: #dcd8fc"></iconify-icon>
					</span>
					iamalexrincon@gmail.com
				  </a>
				  
			</li>
			<li>
				<a class="footer__link" 
   href="https://wa.me/522225399807?text=Hola%20Alexis,%20me%20gustaría%20hablar%20contigo%20sobre%20tus%20servicios."
   target="_blank" 
   rel="nofollow noreferrer noopener">
  <span>
    <iconify-icon
      icon="mdi:whatsapp"
      width="27"
      height="27"
      style="color: #dcd8fc"></iconify-icon>
  </span>
  2225399807
</a>

			</li>
		</ul>
	</aside>
</footer>
